<div class="feed">
      <div *ngFor="let tweet of tweets" class="tweet">
        <img class="profilepic" src="https://pbs.twimg.com/profile_images/987438867040043008/kf4hyXEb_bigger.jpg"/>
        <a class="tweetauthor"
           [routerLink]="['/profile',tweet.author]">{{tweet.author}}
        </a>
        <div class="friendsymbol" ng-app="app" ng-controller='ctrl'>
          <div *ngIf="isfriend(tweet.author)"><td class="add-col"><button (click)="addFriend(tweet.author)" class="add-friend-btn">✘👤</button></td></div>
          <div><td *ngIf="isfriend(tweet.author) == false" class="add-col"><button (click)="deleteFriend(tweet.author)" class="added-friend-btn">✔👤</button></td></div>
        </div>
        <div *ngFor="let tag of tweet.tags" class="tags">
          <div class="tag">{{tag}}</div>
        </div>
        <div>{{tweet.content}}</div>
    </div>
</div>